<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bargin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
    <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".AccountActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".SearchActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".EmailVerificationActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".VerificationActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".EditAccountActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".AddProductsActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ProductHistoryActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ForgotActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>
